# ==========================================
# ОПЦИОНАЛЬНО: SCREWS TILT ADJUST
# ==========================================
# Назначение:
# - Помощь в ручной юстировке стола по винтам.
#
# Важно:
# - Нужен пробник.
# - Координаты винтов указать по факту вашей механики.

# [screws_tilt_adjust]
# screw1: 20,20
# screw1_name: front_left
# screw2: 225,20
# screw2_name: front_right
# screw3: 225,160
# screw3_name: rear_right
# screw4: 20,160
# screw4_name: rear_left
# horizontal_move_z: 5
# speed: 80
# screw_thread: CW-M4
