# TreeD V2 default target: Eddy Duo CAN (RP2040, CAN GPIO4/GPIO5)
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_RPXXXX=y
CONFIG_MACH_RP2040=y
CONFIG_RPXXXX_FLASH_START_0100=y
CONFIG_RP2040_FLASH_GENERIC_03=y
CONFIG_RPXXXX_CANBUS=y
CONFIG_CANBUS_FREQUENCY=1000000
CONFIG_RPXXXX_CANBUS_GPIO_RX=4
CONFIG_RPXXXX_CANBUS_GPIO_TX=5
