# TreeD V2 default target: Octopus Pro V1.0.1 (STM32F446, CAN PD0/PD1)
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32F446=y
CONFIG_STM32_FLASH_START_8000=y
CONFIG_STM32_CLOCK_REF_12M=y
CONFIG_CANBUS=y
CONFIG_CANBUS_FREQUENCY=1000000
CONFIG_STM32_MMENU_CANBUS_PD0_PD1=y
CONFIG_STM32_CANBUS_PD0_PD1=y
