# ==========================================
# БАЗОВЫЕ ПАРАМЕТРЫ ПРИНТЕРА — RN12 HBOT V1
# ==========================================
# Назначение:
# - Описывает кинематику и базовые лимиты движения.
# - Используется как общий фундамент для всех модулей профиля.

[printer]
kinematics: corexy

# Ограничения движения по XY
max_velocity: 500          # максимальная скорость печати по XY, мм/с
max_accel: 10000           # максимальное ускорение по XY, мм/с^2

# Ограничения по Z (винты, чтобы не долбить ось)
max_z_velocity: 20         # мм/с
max_z_accel: 200           # мм/с^2

# Повороты/углы
square_corner_velocity: 9.0
# minimum_cruise_ratio: 0.5  # современная замена удаленного max_accel_to_decel
